<div class="card">
  <p-table
    #dt
    [(selection)]="selectedAuctions"
    [globalFilterFields]="['title', 'seller']"
    [loading]="loading"
    [paginator]="true"
    [rowHover]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [rows]="10"
    [showCurrentPageReport]="true"
    [value]="auctions"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    dataKey="id"
  >
    
    <ng-template #header>
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox/>
        </th>
        <th>
          <p-columnFilter
            ariaLabel="Filter Name"
            field="name"
            placeholder="Search by name"
            type="text"
          ></p-columnFilter>
        </th>
        <th pSortableColumn="seller">Seller</th>
        <th pSortableColumn="endTimeDate">End Time</th>
        <th>Image</th>
        <th pSortableColumn="price">Price</th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template #body let-auction>
      <tr>
        <td>
          <p-tableCheckbox [value]="auction"/>
        </td>
        <td>{{ auction.name }}</td>
        <td>{{ auction.seller }}</td>
        <td>{{ auction.endTimeDate | date: 'medium' }}</td>

        <td>
          <img [src]="auction.imageUrl" alt="Auction Image" height="180" width="250"/>
        </td>
        <td>{{ auction.price | currency: 'HUF ' }}</td>

        <td>
          <p-button icon="pi pi-eye" label="View"/>
        </td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td colspan="6">No auctions found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
