<div class="flex justify-content-center flex-wrap">
  <div class="iconfield-container">
    <p-iconfield>
      <p-inputicon class="p-inputicon-custom" styleClass="pi pi-search"/>
      <input class="search-input center-container" pInputText placeholder="Search for make, model, category, etc."
             type="text"/>
    </p-iconfield>
  </div>
</div>
<div class="banner">

  <div class="grid grid-nogutter surface-section text-white"
       style="min-height: 300px; display: flex; align-items: stretch;">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
      <section>
        <span class="block text-6xl font-bold mb-1 outlined-text">Where Quality Cars </span>
        <div class="text-6xl font-bold mb-3 outlined-text">Meet Quality Bidders</div>
        <p class="mt-0 mb-4 line-height-3 outlined-text">Daily car auctions offering a wide range of vehicles, from
          premium to budget-friendly options, all just a click away.</p>
        <button class="mr-3 p-button-raised" label="View Cars" pButton pRipple routerLink="/search"
                type="button"></button>
        <button class="p-button-secondary" label="Seller Hub" pButton pRipple type="button"></button>
      </section>
    </div>
  </div>

</div>
