.banner {
  background-image: url('/carbanner.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.96);
  margin-top: 4vh;
  display: grid;
}


.search-input {
  width: 100%;
}

.p-inputicon-custom {
  width: 300%;
}


.outlined-text {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) {
  .iconfield-container {
    width: 30%;
  }

  .features-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
  }
  .feature-card {
    padding: 20px;
    border-radius: 10px;
    //box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 6px 70px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
  }
  .feature-card:hover {
    transform: translateY(-5px);
  }
  .icon-container {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 10px;
  }
  h3 {
    margin: 10px 0;
    font-size: 1.2rem;
  }
  p {
    color: #666;
  }

}


@media (max-width: 768px) {
  .outlined-text {
    font-size: 1.1rem !important;
  }

  .search-bar {
    margin-top: 8vw;
  }

  .iconfield-container {
    width: 90%;
  }

  .features-container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    gap: 2%;
  }

  .feature-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 6px 70px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    row-gap: 3%;
  }

  .icon-container {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 10px;
  }

}


// WHY CHOOSE US?
.why-choose-us {
  text-align: center;
  padding: 4rem 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #283342;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #283342;

}


.feature-card:hover {
  transform: translateY(-5px);
}

