.banner {
  background-image: url('/carbanner.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.96);
  margin-top: 4vh;
  display: grid;
}


.search-input {
  width: 100%;
}

.p-inputicon-custom {
  width: 300%;
}


.outlined-text {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) {
  .iconfield-container {
    width: 30%;
  }

  .features-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
  }

  .feature-card {
    width: 300px;
    transition: transform 0.3s ease-in-out;
  }

}


@media (max-width: 768px) {
  .outlined-text {
    font-size: 1.1rem !important;
  }

  .search-bar {
    margin-top: 8vw;
  }

  .iconfield-container {
    width: 90%;
  }

  .features-container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
  }

  .feature-card {
    width: 200px;
    transition: transform 0.3s ease-in-out;
  }

}


// WHY CHOOSE US?
.why-choose-us {
  text-align: center;
  padding: 4rem 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #283342;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #283342;

}


.feature-card:hover {
  transform: translateY(-5px);
}

