.banner {
  background-image: url('/carbanner.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.96);
  margin-top: 4vh;
  display: grid;
}


.search-input {
  width: 100%;
}

.p-inputicon-custom {
  width: 300%;
}


.outlined-text {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) {
  .iconfield-container {
    width: 30%;
  }
}


@media (max-width: 768px) {
  .outlined-text {
    font-size: 1.1rem !important;
  }

  .search-bar {
    margin-top: 8vw;
  }

  .iconfield-container {
    width: 90%;
  }
}


