<p-button
  label="Pay Listing Fee"
  icon="pi pi-credit-card"
  styleClass="p-button-success"
></p-button>

<p-tabs [value]="tabValue">
  <p-tablist>
    <p-tab [value]="0">Seller Dashboard</p-tab>
    <p-tab [value]="1">Upload a Vehicle</p-tab>
    <p-tab [value]="2">Inventory Management</p-tab>

  </p-tablist>
  <p-tabpanels>
    <p-tabpanel [value]="0">
      <!--      <p-button (onClick)="createStripeConnectedAccount()" label="Create Stripe Account"></p-button>-->

      <!-- Stripe Onboarding Flow -->
      <div id="container">
        <div class="container">
          <div class="banner">
            <h2></h2>
          </div>
          <div class="content">

<!--            <div>-->
<!--              <button (click)="handleStripeConnect()" id="sign-up-button">Sign up</button>-->
<!--            </div>-->
            <div id="embedded-onboarding-container"></div>
            <p class="error hidden" id="error">Something went wrong!</p>
            <div class="dev-callout hidden" id="dev-callout">
              <p class="hidden" id="connected-account-id"></p>
              <p class="hidden" id="creating-connected-account">Creating a connected account...</p>
            </div>
            <div class="info-callout">

            </div>
          </div>
        </div>
      </div>



      <h1 id="notification-banner-action-warning"></h1>

      <div id="notification-banner-container"></div>


      <div id="balances-container"></div>

      <div id="payments-container"></div>

    </p-tabpanel>


    <p-tabpanel [value]="1">

      <div>

        <div class="seller-hub-container">
          <div class="form-container">

            <!--Car Details Form -->
            <form (ngSubmit)="submitApplication()" [formGroup]="carDetailsForm">

              <h2>Personal Details</h2>

              <!-- Mobile Number -->
              <div class="p-field">
                <label>Mobile Number</label>
                <p-inputmask formControlName="mobile" mask="(07) 9999-99999"
                             placeholder="(07) 9999-99999"></p-inputmask>
                <div *ngIf="carDetailsForm.get('mobile')?.touched && carDetailsForm.get('mobile')?.invalid"
                     class="p-error">
                  <small *ngIf="carDetailsForm.get('mobile')?.errors?.['required']">Mobile number is required.</small>
                  <small *ngIf="carDetailsForm.get('mobile')?.errors?.['pattern']">Invalid mobile number format.</small>
                </div>
              </div>

              <div class="p-field-checkbox">
                <p-checkbox [binary]="true" formControlName="isDealer"></p-checkbox>
                <label> Please tick if you are a dealer</label>
              </div>

              <h2>Enter Car Details</h2>

              <!-- Car Make -->
              <div class="p-field">
                <label for="make">Car Make</label>
                <input formControlName="make" id="make" pInputText type="text"/>
                <div *ngIf="carDetailsForm.get('make')?.touched && carDetailsForm.get('make')?.invalid" class="p-error">
                  <small>Car make is required.</small>
                </div>
              </div>

              <!-- Car Model -->
              <div class="p-field">
                <label for="model">Car Model</label>
                <input formControlName="model" id="model" pInputText type="text"/>
                <div *ngIf="carDetailsForm.get('model')?.touched && carDetailsForm.get('model')?.invalid"
                     class="p-error">
                  <small>Car model is required.</small>
                </div>
              </div>

              <!-- Year -->
              <div class="p-field">
                <label for="year">Car Year</label>
                <input formControlName="year" id="year" pInputText type="text"/>
                <div *ngIf="carDetailsForm.get('year')?.touched && carDetailsForm.get('year')?.invalid" class="p-error">
                  <small *ngIf="carDetailsForm.get('year')?.errors?.['required']">Year is required.</small>
                  <small *ngIf="carDetailsForm.get('year')?.errors?.['pattern']">Enter a valid year (e.g.,
                    2005).</small>
                </div>
              </div>

              <!-- Transmission -->
              <div class="p-field">
                <label>Transmission</label>
                <p-select [options]="transmissionOptions" formControlName="transmission"
                          placeholder="Select Transmission"></p-select>
                <div *ngIf="carDetailsForm.get('transmission')?.touched && carDetailsForm.get('transmission')?.invalid"
                     class="p-error">
                  <small>Transmission is required.</small>
                </div>
              </div>

              <!-- Fuel Type -->
              <div class="p-field">
                <label>Fuel Type</label>
                <p-select [options]="fuelTypeOptions" formControlName="fuel" placeholder="Select Fuel Type"></p-select>
                <div *ngIf="carDetailsForm.get('fuel')?.touched && carDetailsForm.get('fuel')?.invalid" class="p-error">
                  <small>Fuel type is required.</small>
                </div>
              </div>

              <!-- Mileage -->
              <div class="p-field">
                <label for="mileage">Mileage</label>
                <input formControlName="mileage" id="mileage" pInputText type="number"/>
                <div *ngIf="carDetailsForm.get('mileage')?.touched && carDetailsForm.get('mileage')?.invalid"
                     class="p-error">
                  <small *ngIf="carDetailsForm.get('mileage')?.errors?.['required']">Mileage is required.</small>
                  <small *ngIf="carDetailsForm.get('mileage')?.errors?.['min']">Mileage cannot be negative.</small>
                </div>
              </div>

              <!-- Price -->
              <div class="p-field">
                <label for="price">Starting Price</label>
                <input formControlName="price" id="price" pInputText type="number"/>
                <div *ngIf="carDetailsForm.get('price')?.touched && carDetailsForm.get('price')?.invalid"
                     class="p-error">
                  <small *ngIf="carDetailsForm.get('price')?.errors?.['required']">Price is required.</small>
                  <small *ngIf="carDetailsForm.get('price')?.errors?.['min']">Price must be at least 1.</small>
                </div>
              </div>

              <!-- Registration -->
              <div class="p-field">
                <label for="registration">Car Registration</label>
                <input formControlName="registration" id="registration" pInputText type="text"/>
                <div *ngIf="carDetailsForm.get('registration')?.touched && carDetailsForm.get('registration')?.invalid"
                     class="p-error">
                  <small>Registration is required.</small>
                </div>
              </div>

              <!-- End Date -->
              <div class="p-field">
                <label>Auction End Date</label>
                <p-datePicker
                  [showIcon]="true"
                  [showTime]="true"
                  class="form-control"
                  dateFormat="dd MM yy"
                  formControlName="endDate"
                  hourFormat="24"
                  id="endDate"
                  required>
                </p-datePicker>
                <div *ngIf="carDetailsForm.get('endDate')?.touched && carDetailsForm.get('endDate')?.invalid"
                     class="p-error">
                  <small>Auction end date is required.</small>
                </div>
              </div>

              <!-- Colour -->
              <div class="p-field">
                <label for="colour">Car Color</label>
                <input formControlName="colour" id="colour" pInputText type="text"/>
                <div *ngIf="carDetailsForm.get('colour')?.touched && carDetailsForm.get('colour')?.invalid"
                     class="p-error">
                  <small>Car colour is required.</small>
                </div>
              </div>

              <!-- Description -->
              <div class="p-field">
                <label for="description">Car Description</label>
                <textarea formControlName="description" id="description" pTextarea rows="5"></textarea>
                <div *ngIf="carDetailsForm.get('description')?.touched && carDetailsForm.get('description')?.invalid"
                     class="p-error">
                  <small>Car description is required.</small>
                </div>
              </div>

              <!-- Main Image Upload -->
              <div class="p-field p-col-12">
                <label>Upload Primary Image</label>
                <p-fileupload
                  (onSelect)="onMainImageSelected($event)"
                  accept="image/*"
                  chooseIcon="pi pi-upload"
                  chooseLabel="Choose Main Image"
                  maxFileSize="1000000"
                  mode="basic"
                  name="mainImage">
                </p-fileupload>

                <!-- Display the main image preview -->
                <div *ngIf="mainImagePreview" class="main-image-preview">
                  <img [src]="mainImagePreview" alt="Main Image Preview" class="image-preview-img"/>
                </div>

                <!-- Image Upload -->
                <div class="p-field p-col-12">
                  <label>Upload Additional Images</label>
                  <p-fileupload
                    (onSelect)="onImagesSelected($event)"
                    [multiple]="true"
                    accept="image/*"
                    chooseIcon="pi pi-upload"
                    chooseLabel="Choose Images"
                    maxFileSize="1000000"
                    mode="basic"
                    name="images">
                  </p-fileupload>
                  <!-- Preview Images -->
                  <div *ngIf="imagePreviews.length > 0" class="image-previews">
                    <div *ngFor="let image of imagePreviews" class="image-preview">
                      <img [src]="image" alt="Image Preview" class="image-preview-img"/>
                    </div>
                  </div>
                </div>
              </div>


              <!-- Submit Button -->
              <div class="p-d-flex p-jc-end">
                <button [disabled]="carDetailsForm.invalid" label="Submit" pButton type="submit"></button>
              </div>
            </form>

          </div>

          <!-- Image Container -->
          <div class="image-container">
            <img alt="Professional Image" src="seller-hub.jpg"/>
            <img alt="Professional Image" src="sellerhub2.jpg"/>
            <img alt="Professional Image" src="sellerhub3.jpg"/>

          </div>
        </div>
      </div>


    </p-tabpanel>

    <p-tabpanel [value]="2">

      <div *ngIf="auctions && auctions.length" class="table-container">
        <p-table [value]="auctions" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Main Image</th>
              <th>Images</th>
              <th>Year</th>
              <th>Make</th>
              <th>Model</th>
              <th>Seller</th>
              <th>Mileage</th>
              <th>Transmission</th>
              <th>Colour</th>
              <th>Fuel</th>
              <th>Price (HUF)</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </ng-template>

          <ng-template let-application pTemplate="body">
            <tr>
              <!-- Main Image Column -->
              <td>
                <img [src]="application.mainImageUrl" alt="Main Image"
                     style="object-fit: cover; width: 100px; height: 75px;">
              </td>

              <!-- Images Column with View Images Button -->
              <td>
                <p-button
                  (click)="openImagesModal(application.imageUrls)"
                  icon="pi pi-images"
                  label="View Images"
                  severity="info">
                </p-button>
              </td>

              <td>{{ application.year }}</td>
              <td>{{ application.make }}</td>
              <td>{{ application.model }}</td>
              <td>{{ application.seller }}</td>
              <td>{{ application.mileage }}</td>
              <td>{{ application.transmission }}</td>
              <td>{{ application.colour }}</td>
              <td>{{ application.fuel }}</td>
              <td>{{ application.price }}</td>
              <td>
                <p-button
                  [label]="application.status.toUpperCase()"
                  [severity]="getSeverity(application.status)">
                </p-button>


              </td>
              <td>
                <!-- Approve / Reject Buttons for each row -->
                <p-button
                  [disabled]="true"
                  icon="pi pi-chevron-circle-up"
                  label="Re-list"
                  severity="info"
                  styleClass="mr-2">
                </p-button>

              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>


    </p-tabpanel>


  </p-tabpanels>
</p-tabs>


<!--&lt;!&ndash; Fallback Message when No Auctions are Available &ndash;&gt;-->
<!--<ng-template #noAuctionsMessage>-->
<!--  <div class="no-auctions-message">-->
<!--    <p>No auctions available at the moment.</p>-->
<!--  </div>-->
<!--</ng-template>-->


<!-- Image Viewer Modal -->
<p-dialog [(visible)]="displayImagesModal" [modal]="true" [style]="{width: '80%'}" header="Auction Images">
  <div class="application-images-container">
    <div *ngFor="let imageUrl of applicationImages">
      <img [src]="imageUrl" alt="Auction Image"
           style="object-fit: cover; border-radius: 10px; margin-right: 10px;">
    </div>

  </div>

</p-dialog>


<p-toast></p-toast>
