@media (min-width: 768px) {

}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;

}

.logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}


::ng-deep .p-menubar {
  background-color: #1f2c51 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0 !important;

}

::ng-deep .p-focus {
  //color: #1f2c51 !important;
  //background-color: #1f2c51 !important;

}

::ng-deep .p-menubar-item-content a:hover {
  color: #1f2c51 !important;

}


.footer {
  text-align: center;
  padding: 20px 0;
  background-color: #1f2c51;
  color: white;
  font-size: 14px;
  border-top: 1px solid #ddd;
  width: 100%;
}


.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.footer-section {
  max-width: 250px;
}

.footer-section h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #d1d5db;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #60a5fa;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: #d1d5db;
  font-size: 20px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #60a5fa;
}

.footer-bottom {
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid #374151;
  margin-top: 10px;
}


.wrapper {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  overflow: hidden;

}

.flex.items-center {
  flex-wrap: wrap;
}


.menu-logo {
  height: 50px;
  width: auto;
}

//BANNER
/* Base styles for all screen sizes */
.homepage-banner {
  //background-color: #1e3a8a;
  background-color: #191c24;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.banner-content {
  display: flex;
  align-items: center;
}

.banner-icon {
  margin-right: 0.5rem;
}

.banner-text {
  font-weight: 500;
}

.learn-more {
  display: none; /* Hidden by default */
}

.learn-more-link {
  text-decoration: underline;
  font-weight: 500;
}

.close-button {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.15s;
}

.close-button:hover {
  background-color: #4b5563;
}

//AUTH
/* Dialog Styles */
.auth-dialog {
  max-width: 90vw;
  width: 400px;
}

/* Container */
.auth-container {
  background-color: var(--surface-card);
  padding: 1rem;
}

/* Header */
.auth-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.auth-logo {
  height: 50px;
  margin-bottom: 1rem;
}

.auth-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-900);
  margin-bottom: 0.5rem;
}

.auth-subtitle {
  font-size: 0.9rem;
  color: var(--text-600);
}

.auth-toggle {
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin-top: 0.5rem;
  color: #2967a8;
}

/* Form Elements */
label {
  display: block;
  font-weight: 500;
  color: var(--text-900);
  margin-bottom: 0.3rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--gray-300);
  border-radius: 4px;
}

/* Options */
.auth-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  width: 100%;
  margin-bottom: 20px;
}

.auth-remember {
  display: flex;
  align-items: center;
  gap: 5px;
}

.auth-forgot {
  color: #2967a8;
  cursor: pointer;
  font-weight: 600;
  text-align: right;
  margin-left: auto;
}


/* Buttons */
.auth-button {
  width: 100%;
  font-weight: 600;
}

/* Error Message */
.auth-error {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  width: 15vw;
}


/* Mobile styles */
@media (max-width: 1023px) {
  .homepage-banner {
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 35px;
  }

  .banner-content {
    flex-direction: row;
    justify-content: flex-start;
  }

  .learn-more-link {
    color: inherit;

  }

  .menu-logo {

    display: none;

  }

  .menu-logo-mobile {
    height: 50px;
  }

}

/* Desktop styles (for large screens) */
@media (min-width: 1024px) {
  .homepage-banner {
    flex-direction: row; /* Arrange content horizontally */
    justify-content: center;
    align-items: center;
    padding: 0.50rem 1.5rem;
    margin-bottom: 1vw;
    height: 50px;

  }

  .learn-more {
    display: block; /* Show on desktop */
    margin-left: 1rem;
  }

  .learn-more-link {
    margin-left: 2rem;
    color: inherit;
  }

  .close-button {
    margin-left: 2rem;
  }

  .menu-logo {
    height: 50px;
    width: auto;
  }

  .menu-logo-mobile {
    display: none;
  }

  ::ng-deep .p-menubar-item-content {
    color: white !important;
  }
}

