<div class="account-tabs">
  <p-tabView>
    <p-tabPanel header="Account Settings">
      <div [formGroup]="accountSettingsForm" class="account-management">
        <h2>Account Management</h2>

        <div *ngFor="let field of ['email', 'forename', 'surname', 'password']" class="account-field">
          <label>{{ field.charAt(0).toUpperCase() + field.slice(1) }}</label>

          <div class="field-container">
            <span *ngIf="!editingFields.has(field)">
              {{ field === 'password' ? '*************' : accountSettingsForm.get(field)?.value }}
            </span>

            <input
              *ngIf="editingFields.has(field) && field !== 'password'"
              [formControlName]="field"
              [type]="field === 'email' ? 'email' : 'text'"
            />

            <input
              *ngIf="editingFields.has(field) && field === 'password'"
              [formControlName]="field"
              placeholder="Enter new password"
              type="password"
            />

            <!-- Validation Message -->
            <div *ngIf="accountSettingsForm.get(field)?.invalid && accountSettingsForm.get(field)?.touched"
                 class="error-message">
              <small *ngIf="accountSettingsForm.get(field)?.errors?.['required']">{{ field }} is required</small>
              <small *ngIf="field === 'email' && accountSettingsForm.get(field)?.errors?.['email']">Invalid email
                address</small>
              <small *ngIf="field === 'password' && accountSettingsForm.get(field)?.errors?.['minlength']">Password must
                be at least 6 characters long, contain an uppercase letter, a lowercase letter, a number, and a special
                character.</small>
            </div>

            <button (click)="editField(field)" class="edit-button" icon="pi pi-pencil" pButton>Edit</button>
          </div>
        </div>
        <div *ngIf="editingFields.size > 0" class="button-group">
          <button
            (click)="saveChanges()"
            [disabled]="!areEditedFieldsValid()"
            class="save-button"
            pButton
          >
            Save
          </button>
          <button (click)="cancelEdit()" class="cancel-button" pButton>Cancel</button>
        </div>


        <div class="delete-account">
          <button (click)="confirmDeleteAccount()" class="p-button p-button-danger">Delete Account</button>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Past Won Auctions">
      <div class="auctions-container">
        <h2>Past Won Auctions</h2>
        <p-table [paginator]="true" [rows]="5" [value]="wonAuctions">
          <ng-template pTemplate="header">
            <tr>
              <th>Image</th>
              <th>Auction Item</th>
              <th>Winning Bid</th>
              <th>End Date</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template let-auction pTemplate="body">
            <tr>
              <td>
                <img
                  [src]="auction.mainImageUrl"
                  alt="Car Image"
                  height="120"
                  style="object-fit: cover; border-radius: 4px;"
                  width="170"/>
              </td>
              <td>{{ auction.year }} {{ auction.make }} {{ auction.model }}</td>
              <td><b>{{ auction.price | currency: 'HUF ' }}</b></td>
              <td>{{ auction.endtime | date:'medium' }}</td>
              <td>
                <ng-container *ngIf="auction.paid === 'yes'; else payButton">
                  <button class="p-button p-button-secondary" disabled>Paid</button>
                  <button class="p-button p-button-info">
                    Add Delivery
                  </button>
                </ng-container>

                <ng-template #payButton>
                  <button
                    (click)="goToCart(auction.id)"
                    class="p-button p-button-success">
                    Pay
                  </button>
                </ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-tabPanel>

  </p-tabView>
</div>

<!-- Delete Confirmation Modal -->
<p-dialog [(visible)]="displayDeleteModal" [closable]="false" [modal]="true" [style]="{width: '30vw'}"
          header="Confirm Deletion">
  <p>Are you sure you want to delete your account? This action cannot be undone.</p>

  <div class="flex justify-end gap-2 mt-4">
    <p-button (click)="cancelDelete()" class="p-button-secondary" label="Cancel"></p-button>
    <p-button (click)="deleteAccount()" class="p-button-primary" label="Delete"></p-button>
  </div>
</p-dialog>

<p-toast></p-toast>
