<div class="auction-bar">
  <!-- Back Button -->
  <button [routerLink]="['/search']" class="back-button" icon="pi pi-chevron-left" pButton></button>

  <!-- Current Bid -->
  <div class="auction-info">
    <div class="price">
      <span class="currency">HUF </span>
      <span class="amount">{{ (auction$ | async)?.price | number }}</span>
    </div>
    <div class="label">CURRENT BID</div>
  </div>

  <!-- Countdown Timer -->
  <div class="auction-info">
    <span class="countdown">{{ auction?.countdown }}</span>
    <div class="label">{{ auction?.endTimeDate | date: 'MMM d h:mm a' }}</div>
  </div>

  <!-- Bids Count -->
  <div class="auction-info">
    <span class="bids">{{ bids }}</span>
    <div class="label">BIDS</div>
  </div>

  <!-- Action Buttons -->
  <div class="actions">
    <button class="watch-button" icon="pi pi-heart" label="WATCH" pButton></button>
    <button class="share-button" icon="pi pi-share-alt" label="SHARE" pButton></button>
    <button class="calendar-button" icon="pi pi-calendar-plus" pButton></button>
  </div>

  <!-- Place Bid Button -->
  <button (click)="openBidding()" label="PLACE BID" pButton pRipple></button>
</div>


<div class="gallery">
  <div class="main-image">
    <img [src]="mainImage" alt="">
  </div>
  <div class="thumbnail-images">
    <div *ngFor="let image of thumbnailImages; let i = index" class="thumbnail">
      <img [src]="image" alt="Thumbnail {{i + 1}}">
    </div>
  </div>
</div>


<p-toast class="custom-toast"></p-toast>


<!-- BIDDING MODAL -->
<div *ngIf="displayBidDialog">
  <p-dialog [(visible)]="displayBidDialog" [closable]="true" [modal]="true" [ngClass]="'bidding-modal'">
    <div class="bidding-modal-container">
      <div class="bidding-modal-header">
        <div class="title">Place Your Bid</div>
        <span class="current-bid">
          Current Highest Bid: HUF <strong>{{ (auction$ | async)?.price | number }}</strong>
        </span>
      </div>

      <!-- Bidding Form -->
      <div class="bidding-modal-form">
        <label for="bidAmount">Your Bid Amount</label>
        <input [(ngModel)]="bidAmount" id="bidAmount" min="{{ auction?.price }}" pInputText
               placeholder="Enter your bid" type="number">
      </div>

      <button (click)="placeBid()" class="bidding-modal-button" icon="pi pi-check" label="Place Bid" pButton pRipple>
      </button>
    </div>
  </p-dialog>
</div>


