<div *ngIf="isLoading" class="spinner">
  <p-progressSpinner ariaLabel="Loading auctions..."></p-progressSpinner>
</div>

<div class="auction-list">
  <div *ngFor="let auction of auctions" class="auction-card">
    <a [routerLink]="['/auction', auction.id]" class="block no-underline">
      <p-card>
        <ng-template #header>
          <img [src]="auction.imageUrl" alt="Auction Image" class="w-full auction-image"/>
        </ng-template>
        <ng-template #title>
          {{ auction.name }}
        </ng-template>

        <ng-template #subtitle>
          Filler temporary text to be used for Auction subtitles.
        </ng-template>

        <p style="font-weight: bold;">
          Price: {{ auction.price | currency: 'HUF ' }}
        </p>

        <!-- Display countdown if it's available -->
        <p *ngIf="auction.countdown" style="font-weight: bold;">
          {{ auction.countdown }}
        </p>

        <ng-template #footer>
          <!-- Footer content goes here (if any) -->
        </ng-template>
      </p-card>
    </a>
  </div>
</div> <!-- Closing div for auction-list -->



