
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */

}


.primeng-card {
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.auction-image {
  border-radius: 4px;
}


@media (max-width: 768px) {
  .auction-list {
    display: grid;
    padding: 5%;
    grid-template-columns: 48% 48%;
    column-gap: 4%;

  }


}


@media (min-width: 769px) {
  .auction-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 3%;
    padding: 5%;
  }


  .auction-card {
    max-width: 400px;
  }

}
